{% extends 'layout.html' %}

{% block body %}

<div class="about">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Welcome To Unicat E-Learning</h2>
						<div class="section_subtitle"><p></p></div>
					</div>
				</div>
			</div>
			<div class="row about_row">

				<div class="col-lg-6 about_col about_col_left">
					<div class="about_item">
						<div class="about_item_image"><img src="mission.jpg" alt=""></div>
						<div class="about_item_title"><a href="#">Our Mission</a></div>
						<div class="about_item_text">
							<p>Within the context of its own mission Orbit Academy adapts to changes in
                                    scientific progress, teaching methodologies and meets the needs of the students
                                    and expectations of its employees and the community, striving to promote the Academy as
                                    an institution offering global excellence in education.</p>
						</div>
					</div>
                </div>
                
				<div class="col-lg-6 about_col about_col_right">
                        <div class="about_item">
                            <div class="about_item_image"><img src="vision.jpg" alt=""></div>
                            <div class="about_item_title"><a href="#">Our Vision</a></div>
                            <div class="about_item_text">
                                <p>Within its educational processes Orbit Academy provides its students and
                                        teachers with encouraging, equipped and stable surrounding that ensures success in education
                                        system changes and efforts to reach a new quality level. </p>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

{% endblock %}