<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OrbitAcademy</title> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Orbit Academy</h1>
            </div>
            <nav>
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/About us">About us</a></li>
                    <li><a href="/Contact">Contact</a></li>
        </div>
        </ul>
        </nav>
        </div>
    </header>
    <div class="container">
        {% block body %}

        {% endblock %}

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>